body{
	font-family: $main-font;
	line-height: $line-height;
}
h1,h2,h3,h4,h5,h6{
	font-family: $black-font;
	padding: 0;
	margin: 0;
	line-height: $baseline;
}

h1{
	font-size: $h1-size;
}
h2{
	font-size: $h2-size;
}
h3{
	font-size: $h3-size;
}
h4{
	font-size: $h4-size;
}
h5{
	font-size: $h5-size;
}
h6{
	font-size: $h6-size;
}
p{
	color: $txt-grey;
}
a{
	color: $primary-color;
	text-decoration: none;
}
a,
img,
span{
	display: inline-block;
}