/* Start Skew-section */
.section{
	position: relative;
	.skew{
		width: 50%;
		height: 330px;
		background-color: $main-color;					
		@include skewY(skewy(7deg));
		position: absolute;
		right: 0;
		bottom: 130px;
	}
	.wrapper{
		padding: 140px 0;
		color: $wh;
		@include skewY (skewY(-6deg));
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		//background-attachment: fixed;
		> .reskew{
			@include skewY (skewY(6deg));
			p{color: $wh;}
		}
	}
}
/* End Skew-section */

/* Start Slider-section */
.slider-section{
	.wrapper{
		color: $wh;
		.icon{
			font-size: $h5-size * 5;
			color: $primary-color;
			margin-bottom: $main-space * 4;
		}
	}
}
/* End Slider-section */








/* Start Landing */
.landing{
	.wrapper{
		color: $wh;
		@include skewY;
		background-image: url('../imgs/bg.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center top;
		background-attachment: fixed;
	}
	.container{padding-top: 220px;}
	.title{
		font-family: $bold-font;
		font-size: $h4-size - 2;
		text-transform: uppercase;
		margin-bottom: $baseline * 2;
	}
	.big-logo{
		margin-left: -30px;
		margin-bottom: $baseline * 4;
	}
	.description{
		color: $wh;
		margin-bottom: $baseline * 6;
	}
	.scroll{
		position: relative;
		margin-bottom: $baseline * 2;
		@include animations (scroll-animation);
	}
}
/* End Landing */









/* Start About */
.nav-tabs{
	@include skewX;
	border-bottom: none;
	margin-bottom: $baseline * 3;
	.tab-item{
		a{
			color: $dark-grey;
			background-color: $light-grey;
			border: none;
			border-radius: 0;
			margin-right: 1px;
			padding: 12px 24px;
			text-transform: uppercase;
			&:hover, &:focus{border: none;}
		}
		&.active{
			a{
				color: $wh;
				background-color: $main-color;
				border: none;
				&:hover, &:focus{
					color: $wh;
					background-color: $main-color;
					border: none;
				}
			}
		}
	}
}
/* End About */





/* Start Skills */
.skills{
	padding-bottom: 350px;
}
/* Start Skills */





/* Start Team */
.team{
	margin-top: -400px;
	.wrapper{
		color: $wh;
		background-image: url('../imgs/bg-team.jpg');
	}
	.section-hdr-wrapper{
		.title{
			span{color: $wh;}
			.hint{color: $wh;}
		}
		.mini-des{color: $wh;}
	}
}
/* End Team */






/* Start Services */
.services{
	.content-hdr{
		color: $second-color;
	}
}
/* End Services */






/* End Facts */
.facts{
	.fact-list{
		text-align: center;
		li{
			display: block;
			float: left;
			width: 25%;
			margin: 0;
			padding: $main-space * 2 0;
			color: $dark-grey;
			border: 1px solid $border;
			background-color: $wh;
			line-height: normal;
			&:not(:last-child){
				border-right: none;
			}
		}
		.icon{
			font-size: 80px;
		}
		.fact, .number{display: block;}
		.fact{
			color: $main-color;
			line-height: $line-height * 2;
			text-transform: capitalize;
		}
		.number{
			font-family: $light-font;
			@include transitions;
			font-size: 52px;
		}
	}
}
/* End Facts */







/* Start Work */
.work{
	.section-hdr-wrapper{
		.title{
			.hint{color: $txt-dark-grey;}
		}
		.mini-des{color: $txt-dark-grey;}
	}
}
/* End Work */





/* End Recent-work */
.recent-work{
	padding-bottom: 350px;
}
/* End Recent-work */






/* Start Twitter */
.twitter{
	margin-top: -400px;
	.wrapper{
		background-image: url('../imgs/bg-team.jpg');

		.carousel{
			.carousel-indicators{
			}
			.slider-txt{}
		}
	}
}
/* End Twitter */



/* Start Testimonial */
.testimonial{
	.clients{
		text-align: center;
		margin-bottom: $main-space * 3;

		.client{
			display: inline-block;
			vertical-align: middle;
			margin: 0 30px;
			opacity: .5;
			@include transitions (all, .2s);

			&:hover{
				opacity: 1;
			}
		}
	}
}
/* End Testimonial */



/* Start Pricing */
.pricing-list{
	text-align: center;
	line-height: normal;
	li{
		margin: $main-space 0;
	}
	.price-head{
		.title{
			color: $wh;
			background-color: $primary-color;
			text-transform: capitalize;
			font-family: $bold-font;
			padding: 25px;
		}
	}
	.price-package{
		color: $dark-grey;
		font-size: 60px;
		font-family: $bold-font;
		margin: $main-space * 2 0;
		.number{
			position: relative;
			padding-left: 20px;
			&:before{
				content: '$';
				font-size: $h3-size;
				position: absolute;
				top: 10px;
				left: 0;
			}
			&:after{
				content: '/mo';
				font-family: $main-font;
				font-size: $h4-size;
			}
		}
	}
	.price-item{}
	.price-order{
		text-transform: uppercase;
		font-family: $bold-font;
		font-size: $h6-size;
		margin-top: $main-space * 2;
		a{
			color: $txt-grey;
			border: 1px solid $txt-grey;
			border-radius: 4px;
			padding: $main-space - 5 $main-space;
			@include transitions (all, .2s);
			&:hover{
				color: $wh;
				background-color: $primary-color;
				border-color: $primary-color;
			}
		}
	}
	.price-trial{
		color: $txt-grey;
		text-transform: uppercase;
		font-size: $h6-size;
	}
}
/* End Pricing */




/* Start Quote */
.quote{
	.wrapper{
		background-image: url('../imgs/bg-team.jpg');

		.carousel{
			.carousel-indicators{
			}
			.slider-txt{
				position: relative;
				margin-bottom: 30px;

				.speaker{
					position: absolute;
					bottom: 0;
					/* margin: auto; */
					left: 0;
					right: 0;
				}
			}
		}
	}
}
/* End Quote */





/* End Contact */
.contact{
	.information{
		p, ul{
			color: $txt-dark-grey;
		}
		.title{
			font-family: $bold-font;
			text-transform: uppercase;
			color: $dark-grey;
			margin-bottom: $main-space;
		}
		.description{
			margin-bottom: $main-space * 1.5;
		}
		.list{
			.icon{
				&:before{
					font-family: $awesome;
					display: inline-block;
					width: $main-space * 2;
					font-size: $h4-size;
				}
				&.map{
					&:before{
						content: "\f041";
					}
				}
				&.phone{
					&:before{
						content: "\f095";
					}
				}
				&.message{
					&:before{
						content: "\f0e0";
					}
				}
				&.time{
					&:before{
						content: "\f017";
					}
				}
			}
		}
	}
}
/* End Contact */





/* End Map */
/* End Map */