footer{
	text-align: center;
	.ftr-social-media{
		background-color: $dark-grey-2;
		margin: 0;
		padding: 40px 0;
		a{
			color: $wh;
			font-size: 30px;
			margin: 0 10px;
			@include transitions (all, 0.2s);
			&:hover{
				color: $primary-color;
			}
		}

	}
	.copyrights{
		color: $wh;
		background-color: $primary-color;
		font-family: $bold-font;
		margin: 0;
		padding: 30px 0;
		span, a{
			color: $dark-blue;
		}
		span{
			text-transform: capitalize;
		}
	}
}