// GRID ITEMS
.grid-items{
	.content-item{
		position: relative;
		border-bottom: 1px solid $border;
		border-right: 1px solid $border;
		&:nth-last-child(1), &:nth-last-child(2){
			border-bottom: none;
		}
	}
	.content-item{
		&:nth-child(odd){
			&:after{
				content: "";
				width: 30px;
				height: 30px;
				background-color: $wh;
				position: absolute;
				bottom: -15px;
				right: -15px;
				z-index: 1;
			}
		}
		&:nth-child(even){
			border-right: none;
			/* &:last-child{
				border-bottom: none;
			} */
		}
	}
	.content-wrapper{
		@include flex;
		padding: 40px 25px;
		.content-icon{
			@include flex-inner (1);
			.icon{
				width: 100px;
				height: 100px;
				text-align: center;
				color: $wh;
				background-color: $light-grey;
				font-size: $font-size * 4.5;
				@include skewX (skewX(-10deg));
				@include transitions;
				.fa{
					line-height: 100px;
					@include skewX (skewX(10deg));
				}
			}
		}
		.content-txt{
			@include flex-inner (3.5);
			.content-hdr{
				color: $dark-grey;
				font-family: $bold-font;
			}
			.content-txt{
			}
		}
		&:hover{
			.content-icon{
				.icon{
					background-color: $main-color;
				}
			}
		}
	}
}