// MEMBERS
.members{
	text-align: center;
	.member-img{
		position: relative;
		display: inline-block;
		width: 180px;
		height: 180px;
		border-radius: 100%;
		overflow: hidden;
		.social-hover{
			width: 180px;
			height: 180px;
			background-color: rgba(0, 0, 0, 0.89);
			position: absolute;
			top: 0;
			left: 0;
			z-index: 10;
			@include transitions;
			display: none;
			.list{
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				width: 100%;
			}
			a{
				color: $wh;
		    	padding: 4px 2px;
				&:hover{
					color: $main-color;
				}
			}
		}
	}
	.member-info{
		.name{
			font-family: $bold-font;
			font-size: $h4-size - 4;
			text-transform: uppercase;
		}
	}
	&:hover{
		.member-img{
			.social-hover{
				display: block;
				.list{}
				a{
					&:hover{
					}
				}
			}
		}
	}
}