// REVIEW
.review{
	background-color: #f7f7f7;
	border: 1px solid $border;
	border-radius: 5px;
	padding: $main-space +5 $main-space;
	.review-txt{
		min-height: $main-space * 4;
	}
	.reviewer{
		margin-top: $main-space;
		
	}
	.reviewer-img, .reviewer-name{
		display: inline-block;
		vertical-align: middle;
	}
	.reviewer-img{
		border-radius: 5px;
		overflow: hidden;
		margin-right: $main-space;

		img{
			width: 100%;
		}
	}
	.name, .position{
		display: block;
	}
	.position{
		color: $txt-grey;
		text-transform: capitalize;
	}
}