// SLIDER
.slider{
	color: $wh;
	margin-bottom: $main-space + 15;
	.slider-item{
		outline: none;
		cursor: all-scroll;
		margin: 0 10px;
		margin-bottom: $main-space * 1.5;
	}
	.slider-txt{
		max-width: 60%;
		margin: auto;
		min-height: 60px;
		margin-bottom: $main-space * 2;
	}
	.slick-dots{
		text-align: center;
		padding: 0;
		margin: 0;
		li{
			display: inline-block;
			margin: 0 3px;
			vertical-align: middle;
			button[tabindex]{
				font-size: 0;
				width: 10px;
				height: 10px;
				margin: 1px;
				padding: 0;
				outline: none;
				border: none;
				border-radius: 100%;
				background-color: #cccccc;
			}
			&.slick-active{
				button[tabindex]{
					margin: 4px 0 0 0;
					width: 12px;
					height: 12px;
					background-color: $txt-grey;
				}
			}
		}
	}
}