// WORKS
.works{
	.item{
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		text-align: center;
		overflow: hidden;
		.item-wrapper{
			background-color: rgba(255, 255, 255, 0.4);
			padding: $main-space * 4 $main-space / 2;
			@include transitions;
			position: relative;
		}
		.item-title{
			font-family: $light-font;
			margin-bottom: $main-space * 2;
			font-size: 48px;
			color: $dark-grey;
		}
		.item-txt{
			color: $dark-grey;
			font-size: 20px;
			width: 400px;
			min-height: 100px;
    		margin: auto;
			margin-bottom: $main-space * 4;
		}
		.item-btn{
			position: absolute;
			bottom: -25%;
			left: 0;
			right: 0;
			@include transitions (all, 0.4s);
			.btn{
				color: $dark-grey;
				font-size: 18px;
				border: 4px solid $dark-grey;
				padding: $main-space / 2 26px;
				text-transform: lowercase;
				@include transitions (all, 0.2s);
				&:hover{
					border-color: $main-color;
					background: $main-color;
					color: $wh;
				}
			}
		}

		&:hover{
			.item-wrapper{
				background-color: rgba(255, 255, 255, 0.2);
			}
			.item-title{}
			.item-txt{}
			.item-btn{
				bottom: $main-space * 4;
			}
		}
		&.work-01{background-image: url('../imgs/work/work-01.jpg');}
		&.work-02{background-image: url('../imgs/work/work-02.jpg');}
		&.work-03{background-image: url('../imgs/work/work-03.jpg');}
		&.work-04{background-image: url('../imgs/work/work-04.jpg');}
		&.work-05{background-image: url('../imgs/work/work-05.jpg');}
	}
	[class*="grid-"]{
		display: inline-block;
		margin: 0 -2px;
		padding: 0 10px 20px;
	}
	.grid-1{
		width: 33.333333%;
		
	}
	.grid-2{
		width: 66.66666666%;
	}
	.grid-3{
		width: 100%;
	}
}