// Fonts
	$main-font: 'Lato-Regular';
	$bold-font: 'Lato-Bold';
	$black-font: 'Lato-Black';
	$light-font: 'Lato-Light';
	$awesome: 'FontAwesome';

	$baseline: 1.4em;
	$main-size: 16px;
	$main-space: 20px;
	$line-height: $main-space;

// font size
	$h1-size: 42px;
	$h2-size: 36px;
	$h3-size: 30px;
	$h4-size: 24px;
	$h5-size: 16px;
	$h6-size: 12px;

	$font-size: $main-size;


//Colors
	$bk: #000;
	$wh: #fff;
	$tr: transparent;

	$primary-color: #00ccff;
	$light-blue: $primary-color;
	$main-color: $primary-color;
	$second-color: #ffae00;
	$yellow: $second-color;
	$orange: #ff9900;

	$dark-blue: #0e97b9;
	$light-grey: #eaeaea;
	$light-grey-2: #f7f7f7;
	$dark-grey: #333333;

	$txt-grey: #999999;
	$txt-dark-grey: #666666;

	$border: #d1d1d1;