// Colors
$red: #e8280b;
$grey: #a1a1a1;
$lightgrey: #ebebeb;
$grey-txt: #2d3340;
$lightgrey-txt: #b7b7b7;
$grey-bg: #252525;
$darkgrey-bg: #1e1e1e;
$white: #ffffff;
$black: #000000;



//Fonts


// Font weights
$light: 300;
$normal: 400;
$bold: 700;

// Font Sizes
$xl: 1.6em;
$lg: 45px;
$md: 1.125em;
$sm: 1em;
$xs: 14px;

//Files
$sprites: "../img/css-sprites.png";